    <!-- <nav class="navbar navbar-expand navbar-dark bg-dark px-3" *ngIf="user"> -->
<nav class="navbar navbar-expand navbar-dark bg-dark px-3">
    <div class="container-fluid">
        <div class="navbar-nav">
            <a class="nav-item nav-link" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a>
            <a class="nav-item nav-link" routerLink="/cdb" routerLinkActive="active">CDB</a>
        </div>
    </div>
</nav> 

<!-- <div class="app-container" [ngClass]="{ 'bg-light': user }"> -->
<div class="app-container">
    <alert></alert>
    <router-outlet></router-outlet>
</div>